async-timeout==4.0.3
azure-core==1.29.5
azure-identity==1.14.1
azure-storage-blob==12.18.3
bcrypt==3.2.0
Flask==3.0.0
Flask-Bcrypt==1.0.1 
Flask-Cors==4.0.0
Flask-Session==0.5.0
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
Jinja2==3.1.2
Pillow==10.0.1
psycopg2==2.9.9
PyJWT==2.8.0
python-dotenv==1.0.0
redis==5.0.1
requests==2.25.1
SQLAlchemy==2.0.21
Werkzeug==3.0.0
wheel
